.overview {
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-bottom-primary);
  height: 6rem;
  display: flex;
  align-items: center;

  @include for-small-mobile {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & > * {
      height: 4rem;
    }

    & > *:last-child {
      display: none;
    }
  }

  &__heading {
    padding-left: 4.2rem;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.2rem;
    font-weight: 300;

    @include for-small-mobile {
      padding: 2rem;
    }
  }

  // stars
  &__stars {
    margin: 0 auto 0 2rem;
    display: flex;
    align-items: center;

    @include for-small-mobile {
      margin: 0;
      padding: 2rem;
    }
  }

  &__star {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary-dark);
  }

  // location
  &__location {
    display: flex;
    align-items: center;

    @include for-small-mobile {
      padding: 2rem 1.9rem;
    }
  }

  &__location-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-dark);
  }

  &__location-text,
  &__location-text:link,
  &__location-text:visited {
    color: var(--color-primary-dark);
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

    &:hover,
    &:focus,
    &:active {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-primary-dark);
    }
  }

  &__rating {
    margin-left: 4rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1rem 1.7rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__rating-rate {
    font-size: 2rem;
    font-weight: 500;
  }

  &__rating-votes {
    text-transform: uppercase;
    font-weight: 600;
  }
}
